/*   Theme default css */
@font-face{
  font-family: poppins;
  src: url(../font-used/Poppins-Bold.ttf);
}
@font-face{
  font-family: ObjectiveRegular;
  src: url(../font-used/Objective-Regular.otf);
}
@font-face{
  font-family: ObjectiveBold;
  src: url(../font-used/Objective-Bold.otf);
} 
body {
  font-family: ObjectiveRegular; 
  color: #2c2a29;
  font-size: 17px; 
}
b{
  font-family: ObjectiveBold;
}
  
button {
  cursor: pointer; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poppins; 
  color: #2c2a29;
  margin-top: 0px;   
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }
 
ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

 .padding{
   padding-right: 0;
 }
 .Site-body { 
  background: #59bdc5;
  margin: auto;
}
 


/* default-css END 
================================== */
  



section.panama-area {
  padding-top: 50px;
  padding-bottom: 115px;
  position: relative;
  overflow: hidden;
} 
section.panama-area:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .3;
  top: 0;
  left: 0;
  display: none;
}
section.panama-area img.snape-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.panama-wrp a {
  display: block;
  margin-bottom: 30px;
}
.panama-wrp h1 {
  font-size: 58px;
  color: #fff;
  line-height: 63.5px;
  margin-bottom: 25px;
}
.panama-wrp h1  span {
  color: #2c2a29;
}

.panama-wrp p {
  max-width: 360px;
  line-height: 18.52px;
  margin-bottom: 40px;
}

.panama-wrp form {
  max-width: 270px;
}
.panama-wrp form input {
  width: 100%;
  height: 35px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 15px;
  background: #CEEBEE;
  padding-top: 5px;
} 
.panama-wrp form ::placeholder {
  font-size: 12px;
  color: #2c2a29;
}
.panama-wrp form select {
  width: 100%;
  height: 35px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 15px;
  background: #CEEBEE;
  font-size: 12px;
  color: #2c2a29;
  padding-top: 5px;
}
.custom-select-blk {
  position: relative; 
}
.custom-select-blk select {
display: none;  
}
.select-selected {
background-color: DodgerBlue;
} 
.select-selected:after {
position: absolute;
content: "";
top: 14px;
right: 10px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #2C2A29 transparent transparent transparent;
} 
.select-selected.select-arrow-active:after {
border-color: transparent transparent #2C2A29 transparent;
top: 7px;
} 
.select-items div,.select-selected {
  width: 100%;
  height: 35px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 15px;
  background: #CEEBEE;
  font-size: 12px;
  color: #2c2a29;
  padding-top: 5px;
  line-height: 28px;
} 
.select-items {
position: absolute; 
top: 100%;
left: 0;
right: 0;
z-index: 99;
} 
.select-hide {
display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: #97e2e9;
}
.select-items div {
  margin: 0;
  border-radius: 0;
}
.theme-btn {
  border: none;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  padding: 0px;
  padding: 0 25px; 
  font-size: 16px;
  font-family: poppins;
  color: #59bdc5;
}
button { 
  float: right; 
  margin-top: 10px;
}
section.panama-area img.line-snap {
  position: absolute;
  left: 54%;
  z-index: 2;
  bottom: 13%;
}


/* panama-area css END 
==================== */
 
 


section.Decider-area {
  position: relative;
}
section.Decider-area:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .3;
  top: 0;
  left: 0;
  display: none;
}
section.Decider-area img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.Decider-wrp {
  max-width: 447px;
  margin: auto;
  padding-top: 210px;
  padding-bottom: 205px;
}

.Decider-wrp h3 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  line-height: 63.5px;
  text-transform: uppercase;
}

.Decider-wrp h3 span {
  color: #2c2a29;
}

.Decider-wrp  p {
  line-height: 18.52px;
}
/* snapes */ 
section.Decider-area img.line-snap {
  height: auto;
  position: absolute;
  top: auto;
  bottom: 13%;
  left: 20%;
}


/* Decider-area css END 
==================== */

  

section.Modelo-area {
  background: #F4F4F4;
  padding-top: 20px;
  padding-bottom: 60px;
  position: relative;
}
ul#myTab {
  margin-bottom: 50px;
}
ul#myTab li {
    display: inline-block;
    margin: 0 46px;
} 
ul#myTab li a {
    font-family: poppins;
    font-size: 24px;
    line-height: 42.33px;
    text-align: center;
    position: relative;
    z-index: 2;
} 
ul#myTab li a:after {
  content: "";
  position: absolute;
  border-top: 120px solid #E0DFDF;
  border-right: 120px solid #0000;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
  transition: .3s;
  visibility: hidden;
  opacity: 0;
}
ul#myTab li a.active:after{
  visibility: visible;
  opacity: 1;
}
ul#myTab li:first-child{
  margin-left: 0px;
}
ul#myTab li:last-child{
  margin-right: 0px;
}
ul#myTab li a b {
    display: block;
    font-size: 42px;
    color: #78C8CF;
}
.model-wrp img {
  width: 100%;
}
.model-content h4 {
  font-size: 24px;
  line-height: 42px;
  margin-top: 50px;
} 
.model-content li {
  line-height: 40px;
  position: relative;
  padding-left: 20px;
} 
.model-content li:after {
  content: "";
  position: absolute;
  border-top: 8px solid #59BDC5;
  border-right: 8px solid #0000;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
/* snapes */
 
section.Modelo-area img.tryangle {
  position: absolute;
  bottom: 10%;
  left: 7%;
}
section.Modelo-area img.snap-top {
  position: absolute;
  top: 35%;
  left: 86%;
}









/* Modelo-area css END 
==================== */




section.Amenidades-area {
  background: #2C2A29;
  padding-top: 110px;
  padding-bottom: 170px;
  position: relative;
} 
section.Amenidades-area img.snape-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 2;
}
section.Amenidades-area img.snaps {
  position: absolute;
  left: 68%;
  z-index: 3;
  bottom: 5%;
}
.amenidades-wrp h2 {
  color: #fff;
  font-size: 42px;
  line-height: 42px;
  margin-bottom: 30px;
}
.lists{
  display: flex;
}
.lists ul {
  min-width: 220px;
}
.amenidades-wrp ul li {
  display: block;
  color: #fefefe;
  text-transform: capitalize;
  line-height: 40px;
  padding-left: 25px;
  position: relative;
}

.amenidades-wrp ul li:after {
  content: "";
  position: absolute;
  border-top: 8px solid #59BDC5;
  border-right: 8px solid #0000;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
 

/* Amenidades-area css END 
======================= */

 
.contact-area{
  position: relative;
}
.contact-area img.snape-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.contact-wrp {
  padding-top: 200px;
  padding-bottom: 170px;
}

.contact-wrp b {
  margin-bottom: 20px;
  display: block;
}

.contact-wrp a {
  display: block;
  margin-bottom: 20px;
}

.contact-wrp p {
  margin-bottom: 25px;
}
.contact-wrp a.theme-btn {
  display: inline-block;
  color: #59bdc5;
  margin: 0;
}

.contact-area img.tryangle {
  position: absolute;
  z-index: 4;
  bottom: 13%;
  left: 29%;
}


  

/* Contact-area css END 
======================= */

  



footer {
  background: #F4F4F4;
  height: 75px;
  display: flex;
  align-items: center;
} 
.footer-wrp b {
  font-size: 10px;
  line-height: 17px;
  display: block;
}
footer a.logo.right-logo img {
  height: 40px;
}


















